mat-toolbar {
  position: absolute;
  bottom: 0%;
  width: 100%;
  background-color: darkgray;
  span {
    width: inherit;
    font-size: 12px;
    font-weight: 400;
    justify-content: center;
    text-align: center;
  }
}
