mat-card {
  width: max-content;
  margin-bottom: 20px;
  position: relative;
  border: solid lightgoldenrodyellow 1px;
  padding-bottom: 20px;
  margin: 20px;
  img {
    max-width: 100px;
  }
  button {
    flex: auto;
    color: solid mediumpurple;
    background-color: ghostwhite;
  }
  border: solid lightgoldenrodyellow 1.5px;
}
mat-card-actions {
  display: flex;
  justify-content: space-between;
}
