mat-toolbar {
  justify-content: center;

  .spacer {
    background-color: solid rgb(241, 235, 235) y;
    button {
      color: rgb(21, 21, 136);
    }
  }
  background-color: azure;
  height: auto;
}
